$bg1: #2d3e52;
$bg2: #ffffff;
$bg3: #f4f4f4;
$bg4:#e8e8e8 url('../images/front/section-patern.jpg') repeat;
$border1: #484848;
$border2: #787878;
$link-color1: #b8b8b8;
$brand-color: #e2011a;
$text-color1: #747474;
$text-color2: #dcdcdc;
$text-color3: #a8a8a8;
$text-color5: #5d5d5d;
$text-color6: #2e2e35;
$text-color7: #353535;
$text-color8: #777777;
$text-color9: #2f3845;
$text-color10: #a7a7a7;
$dot-color: #b6b6b6;
$button-border: #ef0821;
$gradient-top: #fd1029;
$gradient-bottom: #e2011a;
$gradient-top-hover: darken($gradient-top, 5%);
$gradient-bottom-hover: darken($gradient-bottom, 5%);
$gradient-top2: #fefefe;
$gradient-bottom2: #f7f7f7;
$gradient-top-hover2: darken($gradient-top2, 5%);
$gradient-bottom-hover2: darken($gradient-bottom2, 5%);


$font-family1: 'Lato', sans-serif;

