.product{
    background-color: #f8f8f8;
    border: 1px solid #dadada;
    min-height: 200px;
    overflow: hidden;
    .product-img{
        img{
            width: 100%;
            height: auto;
            border-bottom-right-radius: 70%;
        }
    }
    h3{
        text-transform: uppercase;;
    }
}