$bg1: #fff;
$bg2: #e9e9e9;
$bg3: #0e7cd0;
$border1: #484848;
$border2: #787878;
$text-color1: #282828;
$text-color2: #707070;
$brand-color: #0e7cd0;
$link-color1: #999999;
$button-color-warning: #e4021a;
$font-family1: 'Lato', sans-serif;
$font-family2: 'Open Sans', sans-serif;